{% extends 'base.html' %}
{% block title %}Create{% endblock %}
{% block content %}
    <div>
        <h4 class="my-4 text-center">Claim time</h4>
    </div>
    <div class="d-flex flex-row justify-content-center my-4 mt-3">
        {% for penalty_type in user.duration_per_penalty %}
            <div class="card m-2" style="width: 8rem;">
                <div class="card-body text-center">
                    <h3 class="card-title pb-2">{{ penalty_type.available|floatformat:2 }}
                    </h3>
                    <h6 class="card-subtitle mb-1 text-muted">
                        {{ penalty_type.penalty.name }} HRS
                        </h6>

                </div>
            </div>
        {% endfor %}
    </div>
    <form method="post" class="mt-4" novalidate>{% csrf_token %}
        {% for field in form %}

            <div class="form-floating mb-3">
                {{ field }}
                <label for="id_{{ field.name }}">{{ field.label }}</label>
                <div id="{{ field.label|cut:" "|lower }}Feedback" class="invalid-feedback fst-italic px-1 m-0">
                    {{ field.errors.as_text|cut:"*" }}
                </div>
            </div>
        {% endfor %}
        <div class="d-flex flex-row justify-content-end">
            <button type="submit" class="btn btn-dark p-3 px-5 mt-3">Claim</button>
        </div>
    </form>
{% endblock %}