{% extends 'base.html' %}
{% block title %}Home{% endblock %}


{% block content %}
    <main class="container p-3">
        {% if not user == employee %}
            <div class="d-flex flex-row justify-content-between align-items-center mt-3"><h3 class="m-0">
                Edit {{ employee.get_full_name }}</h3>
                <div><a class="btn btn-sm btn-dark me-2" href="{% url 'manager-team-member-list' %}">Back</a></div>
            </div>
            {% else %}
            <div class="d-flex flex-row justify-content-between align-items-center mt-3"><h3 class="m-0">
                Edit {{ user.get_full_name }}</h3>
                <div><a class="btn btn-sm btn-dark me-2" href="{% url 'home' %}">Back</a></div>
            </div>
        {% endif %}
    {% include 'main/floating_validation_form.html' with button_name='Update' %}
    </main>
{% endblock %}