{% extends 'base.html' %}
{% block title %}Home{% endblock %}


{% block content %}
    <main class="container p-3">
        {% if not user == employee %}
            <div class="d-flex flex-row justify-content-between align-items-center my-3 pb-3"><h3
                    class="m-0">{{ employee.get_full_name }}</h3>
                <div><a class="btn btn-sm btn-success me-2" href="{% url 'employee-update' employee.slug %}">Edit</a><a
                        class="btn btn-sm btn-dark me-2" href="{% url 'manager-team-member-list' %}">Back</a></div>
            </div>
        {% endif %}
        <div class="d-flex flex-row justify-content-center flex-wrap gap-3">
            <div class="card" style="width: 8rem;">
                <div class="card-body text-center">
                    <h3 class="card-title pb-2">{{ employee.total_time_sheets_submitted }}</h3>
                    <h6 class="card-subtitle text-muted">
                        Sheet{% if employee.total_time_sheets_submitted > 1 %}s{% endif %}</h6>
                </div>
            </div>
            <div class="card" style="width: 8rem;">
                <div class="card-body text-center">
                    <h3 class="card-title pb-2">{{ employee.total_claims_submitted }}</h3>
                    <h6 class="card-subtitle mb-1 text-muted">
                        Claim{% if employee.total_claims_submitted > 1 %}s{% endif %}</h6>
                </div>
            </div>
            {% for duration in employee.duration_per_penalty %}
                <div class="card" style="width: 8rem;">
                    <div class="card-body text-center">
                        <h3>{{ duration.available|floatformat:2 }}</h3>
                        <h6 class="text-muted">{{ duration.penalty_type.name|lower|capfirst }} hrs</h6>

                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="mt-3">
            <h3 class="py-3">Latest Time Sheets</h3>
            <div id="recent_items" class="accordion accordion-flush">
                {% if not  employee.last_5_time_sheets %}
                    <small class="fst-italic">{% if employee == user %}You {% else %}They {% endif %}haven't submitted
                        any time sheets.</small>
                {% endif %}
                {% for time_sheet in employee.last_5_time_sheets %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-{{ time_sheet.pk }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse-{{ time_sheet.pk }}" aria-expanded="false"
                                    aria-controls="collapse-{{ time_sheet.pk }}">
                                {{ time_sheet.start_date_time|date:"d M Y" }}
                            </button>
                        </h2>
                        <div id="collapse-{{ time_sheet.pk }}" class="accordion-collapse collapse"
                             aria-labelledby="heading-{{ time_sheet.pk }}" data-bs-parent="#recent_items">
                            <div class="accordion-body">
                                <div class="d-flex flex-column">
                                    <div class="d-flex flex-row justify-content-between">
                                        <div class="align-middle">Worked: {{ time_sheet.duration }}</div>
                                        <a href="{% url 'timesheet-detail' time_sheet.pk %}"
                                           class="btn btn-sm btn-outline-dark py-0">View</a>
                                    </div>
                                    <div>
                                        Accrued: {{ time_sheet.accrued_duration }}
                                    </div>
                                    <div>
                                        Type: {{ time_sheet.penalty.penalty_type.name|lower|capfirst }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="mt-3">
            <h3 class="py-3">Latest Claims</h3>
            <div id="recent_claims" class="accordion accordion-flush pb-5">
                {% if not  employee.last_5_time_sheets %}
                    <small class="fst-italic">{% if employee == user %}You {% else %}They {% endif %}haven't submitted
                        any claims.</small>
                {% endif %}
                {% for claim in employee.last_5_claims %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-claim-{{ claim.pk }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse-claim-{{ claim.pk }}" aria-expanded="false"
                                    aria-controls="collapse-claim-{{ claim.pk }}">
                                {{ claim.claim_date|date:"d M Y" }}
                            </button>
                        </h2>
                        <div id="collapse-claim-{{ claim.pk }}" class="accordion-collapse collapse"
                             aria-labelledby="heading-claim-{{ claim.pk }}" data-bs-parent="#recent_claims">
                            <div class="accordion-body">
                                <div class="d-flex flex-column">
                                    <div class="d-flex flex-row justify-content-between">
                                        <div class="align-middle">Claimed: {{ claim.duration }}</div>
                                        {#                                        <a href="{% url 'timesheet-detail' claim.pk %}"#}
                                        {#                                           class="btn btn-sm btn-outline-dark py-0">View</a>#}
                                    </div>
                                    <div>
                                        Type: {{ claim.penalty_type.name|lower|capfirst }}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
    {% if user == employee and user.team %}
        <div class="position-fixed bottom-0 end-0 me-4 mb-4 d-flex flex-row align-content-between">
            <a class="border p-3 bg-dark"
               style="border-radius: 20px; z-index: 3;"
               href="{% url 'timesheet-create' %}">
                <span class="material-icons text-center align-middle text-white">add</span>
            </a>
            <a class="border p-3 bg-success mx-3"
               style="border-radius: 20px; z-index: 3;"
               href="{% url 'penalty-claim' %}">
                <span class="material-icons text-center align-middle text-white">paid</span>
            </a>
        </div>

    {% endif %}
{% endblock %}