{% extends 'base.html' %}

{% block title %}Log in{% endblock %}

{% block content %}
    <main class="container p-3">
        <div class="text-center mt-4 mb-3">
        <span class="material-icons text-muted border border-5 border-dark rounded" style="font-size: 100px;">
            schedule
        </span>
        </div>
    {% include 'main/floating_validation_form.html' with button_name='Login' %}
          <div class="d-flex flex-row justify-content-end mt-3">
            <small class="fst-italic">Don't have an account?
                <a href="{% url 'register-employee' %}" class="text-decoration-none text-muted">Register</a></small>
        </div>
    </main>
{% endblock %}