{% extends 'base.html' %}

{% block title %}Manage Team{% endblock %}

{% block content %}
    <main class="container p-3 ">
        <h1 class="py-3">{{ team.name }}</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Employee</th>
                {% for penalty_type in user.duration_per_penalty %}
                    <th>{{ penalty_type.penalty_type }}</th>
                {% endfor %}

            </tr>
            </thead>
            <tbody>
            {% for employee in employee_list %}
                <tr>
                    <td><a href="{% url 'employee-detail' employee.slug %}">{{ employee.get_full_name }}</a></td>
                    {% for penalty_type in employee.duration_per_penalty %}
                        <td>{{ penalty_type.available }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td>Totals</td>
                {% for penalty_type in team.duration_per_penalty %}
                    <td>{{ penalty_type.1 }}</td>
                {% endfor %}
            </tr>
            </tfoot>
        </table>
    </main>

{% endblock %}