{% extends 'base.html' %}

{% block title %}Confirm Deletion{% endblock %}

{% block content %}
    <main class="container p-3 pt-5">
        <form method="post">{% csrf_token %}
            <h1 class="pb-4">Confirm Deletion</h1>
            Are you sure want to delete the "{{ object }}" Penalty Type?
            <div class="d-flex flex-row justify-content-end">
                <a class="btn p-3 px-5 mt-3 me-3" href="{{ request.META.HTTP_REFERER }}">Back</a>
                <button type="submit" class="btn btn-danger p-3 px-5 mt-3">Delete</button>
            </div>

        </form>

    </main>

{% endblock %}