{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <main class="container p-3">
        <div class="h3 text-center mt-4 mb-3">
            User Registration
        </div>
        {% include 'main/floating_validation_form.html' with button_name='Register' %}
        <div class="d-flex flex-row justify-content-end mt-3">
            <small class="fst-italic">Already Registered?
                <a href="{% url 'login' %}" class="text-decoration-none text-muted">Log in</a></small>
        </div>
    </main>
{% endblock %}