{% extends 'base.html' %}
{% block title %}Create{% endblock %}
{% block content %}
    <div>
        <h4 class="my-4 text-center">New Timesheet</h4>
    </div>
    <form method="post" class="mt-4" novalidate>{% csrf_token %}
        {% for field in form %}
            <div class="form-floating mb-3">
                {{ field }}
                <label for="id_{{ field.name }}">{{ field.label }}</label>
                <div id="{{ field.label|cut:" "|lower }}Feedback" class="invalid-feedback fst-italic px-1 m-0">
                    {{ field.errors.as_text|cut:"*" }}
                </div>
            </div>
        {% endfor %}
        <div class="d-flex flex-row justify-content-end">
            <button type="submit" class="btn btn-dark p-3 px-5 mt-3">Update</button>
        </div>
    </form>
{% endblock %}