{% extends 'base.html' %}
{% load static %}
{% block title %}ERROR 403: FORBIDDEN{% endblock %}

{% block content %}
<main class="container p-3">
<h1 class="py-4 text-danger">ERROR 403: FORBIDDEN</h1>
    <img src="{% static 'img/403.gif' %}" alt="403: Forbidden" width="100%;"/>
<p class="pt-4">I'm not sure how you got here, but I am certain of where you're not going.</p>
<p>Please <a href="{{ request.META.HTTP_REFERER }}">go back</a> to where you came from</p>
<small class="fst-italic">Reported for hacking</small>
</main>
{% endblock %}